// IMPORTS

@use '../../../styles/variables.module' as var;
@use '../../../styles/typography.module' as ty;

// COMPONENT STYLES
.Call__heading--subtitle,
.Call__row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: baseline;
}

.Call__heading {
  padding-bottom: var.$spc-sm;

  h2 {
    font-weight: var.$font-weight-bold;
    font-size: var.$font-size-lg;
    margin-bottom: var.$spc-sm;
    padding: var.$spc-sm 0;
  }

  &--row {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.Tabs {
  display: flex;
  gap: var.$spc-xs;
  border-bottom: 1px solid var.$secondary500;

  li {
    font-size: var.$font-size-sm;
    line-height: var.$line-height-normal;
    background-color: var.$neutral50;
    padding: var.$spc-xs var.$spc-md;
    border: 1px solid var.$neutral200;
    border-bottom: none;
    border-radius: var.$spc-xs var.$spc-xs 0 0;
    cursor: pointer;

    transition: all 0.2s var.$bezier-productiveEaseOut;

    &:hover {
      background-color: var.$secondary50;
      color: var.$secondary500;
    }
  }

  .Tab--active {
    color: var.$neutral50;
    background-color: var.$secondary500;
    border-color: 1px solid var.$secondary500;

    &:hover {
      background-color: var.$secondary500;
      color: var.$secondary50;
    }
  }
}

.Tabs,
.Call__row {
  margin-bottom: var.$spc-xl;
}

.Call__transcription,
.Call__summary,
.Call__cell {
  span,
  p {
    padding: 0 var.$spc-sm;
  }

  span {
    display: block;
    color: var.$secondary500;
    font-size: var.$font-size-sm;
    font-weight: var.$font-weight-bold;
  }

  p {
    font-size: var.$font-size-body;
    line-height: var.$line-height-tight;
  }
}

.Call__summary {
  margin-bottom: var.$spc-md;
  padding: var.$spc-lg 0;
  border-top: 1px solid var.$secondary500;

  p {
    padding: var.$spc-sm 0;
  }
}

.Call__transcription {
  padding: var.$spc-sm 0;
  margin-bottom: var.$spc-xl;

  button {
    display: block;
    margin-top: var.$spc-md;
  }

  p {
    padding: var.$spc-sm 0;
  }
}

.ModalActions {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: var.$spc-md;
  margin-top: var.$spc-sm;
}
