// IMPORTS

@use '../../../styles/variables.module' as var;
@use '../../../styles/typography.module' as ty;

// COMPONENT STYLES
.Call__heading--subtitle,
.Call__row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: baseline;
}

.Call__heading {
  border-bottom: 1px solid var.$secondary500;
  padding-bottom: var.$spc-sm;
  margin-bottom: var.$spc-lg;

  input,
  h2 {
    font-weight: var.$font-weight-bold;
    font-size: var.$font-size-lg;
    margin-bottom: var.$spc-sm;
    padding: var.$spc-sm;
  }

  &--row {
    display: grid;
    grid-template-columns: 50% 50%;

    input {
      width: 90%;
      border: 1px solid var.$neutral200;
      border-radius: var.$spc-sm;

      &:focus {
        outline: none;
        border-color: var.$secondary500;
      }
    }
  }
}

.Call__row {
  padding-bottom: var.$spc-lg;
}
.Call__transcription,
.Call__summary,
.Call__cell {
  span {
    display: block;
    color: var.$secondary500;
    font-size: var.$font-size-sm;
    font-weight: var.$font-weight-bold;
    letter-spacing: 1px;
  }

  p {
    font-size: var.$font-size-body;
    line-height: var.$line-height-tight;
    padding: var.$spc-sm;
  }
}

.Call__summary {
  border-top: 1px solid var.$secondary500;
  margin-bottom: var.$spc-md;
  padding: var.$spc-md 0;

  p {
    padding: var.$spc-sm 0;
  }
}

.Call__summary,
.Call__transcription {
  button {
    padding: var.$spc-xs var.$spc-sm;
    background-color: var.$secondary50;
    border-radius: var.$spc-sm;
    color: var.$secondary500;
    font-size: var.$font-size-xs;
    font-weight: var.$font-weight-bold;
    text-transform: uppercase;
    cursor: pointer;
    
    transition: all 0.2s var.$bezier-productiveEaseOut;

    &:hover {
      background-color: var.$secondary500;
      color: var.$neutral50;
    }
  }
}

.Call__transcription {
  font-size: var.$font-size-sm;
  padding: var.$spc-sm 0;
  margin-bottom: var.$spc-xl;

  button {
    display: block;
    margin-top: var.$spc-md;
  }

  p {
    font-size: var.$font-size-sm;
    padding: var.$spc-sm 0;
  }
}

.ModalActions {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: var.$spc-md;
  margin-top: var.$spc-sm;
}
