// IMPORTS

@use '../../../styles/variables.module' as var;
@use '../../../styles/typography.module' as ty;

// COMPONENT STYLES

.PageHeader {
  padding: var.$spc-2xl var.$spc-3xl;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: var.$font-size-4xl;
    font-weight: var.$font-weight-bold;
    color: var.$neutral800;
  }
}

