// IMPORTS

@use '../../styles/variables.module' as var;
@use '../../styles/typography.module' as ty;

// COMPONENT STYLES

.Page {
  background-color: var.$neutral80;
  display: grid;
  grid-template-columns: var.$spc-10xl 1fr;
  grid-template-rows: 100vh;
  width: 100vw;
  overflow: hidden;

  .Sidebar {
    background-color: var.$neutral50;
    grid-column: 1;
    height: 100%;
  }

  .Main {
    grid-column: 2;
    height: 100%;
    overflow-y: auto;
  }
}
