// IMPORTS

@use '../../../styles/variables.module' as var;
@use '../../../styles/typography.module' as ty;

// COMPONENT STYLES

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ModalContent {
  position: relative;
  background-color: var.$neutral50;
  padding: var.$spc-xl;
  border-radius: var.$spc-sm;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

  animation: modalAppear 0.3s var.$bezier-productiveEaseOut;
}

@keyframes modalAppear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

