// IMPORTS
@use "sass:color";
@use '../../../styles/variables.module' as var;
@use '../../../styles/typography.module' as ty;

// COMPONENT STYLES

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: color.change(var.$neutral900, $alpha: .33);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ModalContent {
  position: relative;
  background-color: var.$neutral50;
  border-radius: var.$spc-sm;
  width: 100%;
  max-width: 50vw;
  height: 80vh;
  box-shadow: 0 10px 25px color.change(var.$neutral900, $alpha: .33);

  animation: modalAppear 0.3s var.$bezier-celebratoryEaseOut;
}

.ModalHeader {
  position: relative;
  padding: var.$spc-md var.$spc-lg;
  background-color: var.$secondary500;
  border-radius: var.$spc-sm var.$spc-sm 0 0;

  h2 {
    font-size: var.$font-size-lg;
    font-weight: var.$font-weight-bold;
    color: var.$neutral50;
  }

  .ModalButton {
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;

    position: absolute;
    top: var.$spc-md;
    right: var.$spc-md;
    display: flex;
    align-items: center;
    justify-content: center;

    width: var.$spc-xl;
    height: var.$spc-xl;
    border-radius: 50%;

    color: var.$secondary500;
    background-color: var.$neutral50;
    
    transition: all 0.2s var.$bezier-productiveEaseOut;
    
    &:hover {
      color: var.$neutral50;
      background-color: var.$primary500;
    }
  }
}

.ModalBody {
  padding: var.$spc-xl;
  padding-bottom: var.$spc-5xl;
  background-color: var.$neutral50;
  border-radius: 0 0 var.$spc-sm var.$spc-sm;
}

@keyframes modalAppear {
  from {
    opacity: 0;
    transform: translateY(var.$spc-md);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
