/******
Variables
*******/

// Colors
$primary500: oklch(0.6055 0.2464 26.9);
$secondary500: oklch(0.3943 0.2501 269.67);
$neutral50: oklch(1 0 0);

// Animations Easings
$bezier-productiveEaseInOut: cubic-bezier(0.2, 0.2, 0.38, 0.9);
$bezier-productiveEaseIn: cubic-bezier(0.2, 0, 1, 0.9);
$bezier-productiveEaseOut: cubic-bezier(0, 0, 0.38, 0.9);
$bezier-expressiveEaseInOut: cubic-bezier(0.4, 0.14, 0.3, 1);
$bezier-expressiveEaseIn: cubic-bezier(0.4, 0.14, 1, 1);
$bezier-expressiveEaseOut: cubic-bezier(0, 0, 0.3, 1);
$bezier-celebratoryEaseInOut: cubic-bezier(0.29, 0.04, 0.23, 1);
$bezier-celebratoryEaseIn: cubic-bezier(0.39, .06, 1, 1);
$bezier-celebratoryEaseOut: cubic-bezier(0, 0, 0.3, 1);
