// IMPORTS

@use '../../../styles/_variables.module' as var;
@use '../../../styles/typography.module' as ty;

// COMPONENT STYLES

.Heading__btn {
  display: flex;
  align-items: center;
  gap: var.$spc-sm;
  padding: var.$spc-md;
  background-color: var.$secondary500;
  color: var.$neutral50;
  font-size: var.$font-size-sm;
  font-weight: var.$font-weight-bold;

  border: none;
  border-radius: var.$spc-sm;
  cursor: pointer;
  transition: all 0.2s var.$bezier-productiveEaseOut;

  &:hover {
    background-color: var.$primary500;
  }
}
