// IMPORTS

@use'../../styles/typography.module' as typography;

.Container {
  position: fixed;
  display: flex;
  height: 3rem;
  padding: 1rem 2rem;
  width: 100%;

  .Logo {
    @include typography.baseline(1, 0);

    flex-grow: 1;

    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  nav>ul {
    display: flex;

    li {
      @include typography.baseline(1, 0);
      
      width: 6rem;

      font-size: .75rem;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
