// IMPORTS

@use '../../styles/variables.module' as var;
@use '../../styles/typography.module' as ty;

// COMPONENT STYLES

.Table__cell {
  &--name {
    font-weight: var.$font-weight-bold;
    letter-spacing: .0125rem;
  }

  &--company,
  &--email,
  &--phone,
  &--dossier,
  &--dossier {
    font-size: var.$font-size-sm;
  }

  &--phone {
    span {
      color: var.$success500;
    }
  }
}

.ModalActions {
  display: flex;
  justify-content: flex-end;
  gap: var.$spc-sm;
  margin-top: var.$spc-lg;
}
