// IMPORTS

@use '../../styles/variables.module' as var;
@use '../../styles/typography.module' as ty;

// COMPONENT STYLES


.ModalActions {
  display: flex;
  justify-content: flex-end;
  gap: var.$spc-sm;
  margin-top: var.$spc-lg;
}
