// IMPORTS

@use '../../styles/variables.module' as var;
@use '../../styles/typography.module' as ty;

// COMPONENT STYLES

.Heading {
  padding: var.$spc-2xl var.$spc-3xl;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: var.$font-size-3xl;
    font-weight: var.$font-weight-bold;
    color: var.$neutral800;
  }

  button {
    display: flex;
    align-items: center;
    padding: var.$spc-md;
    background-color: var.$secondary500;
    color: var.$neutral50;
    font-size: var.$font-size-sm;
    font-weight: 600;

    border: none;
    border-radius: var.$spc-sm; // 0.5rem per un look moderno
    cursor: pointer;
    transition: all 0.2s var.$bezier-productiveEaseOut;

    &:hover {
      background-color: var.$secondary700;
    }
  }
}

.ModalActions {
  display: flex;
  justify-content: flex-end;
  gap: var.$spc-sm;
  margin-top: var.$spc-lg;
}
