// IMPORTS

@use '../../styles/variables.module' as var;
@use '../../styles/typography.module' as ty;

// COMPONENT STYLES

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: var.$spc-9xl;
  height: 100vh;
  background-color: var.$neutral50;
  border-right: 1px solid var.$secondary50;
  padding: var.$spc-2xl var.$spc-lg;

  &__header {
    padding: var.$spc-lg 0;
    margin-bottom: var.$spc-lg;
    text-align: center;
    
    .sidebar__logo {
      height: 40px;
      width: auto;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: var.$spc-sm;
  }

  &__item {
    display: block;
    width: 100%;
    padding: var.$spc-sm var.$spc-md;
    font-family: inherit;
    font-size: var.$font-size-sm;
    font-weight: 400;
    text-align: left;
    background: transparent;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s var.$bezier-productiveEaseOut;

    &:hover {
      color: var.$neutral800;
      background: var.$secondary50;
    }

    &--active {
      color: var.$neutral100;
      background-color: var.$secondary500;
      font-weight: 800;

      &:hover {
        color: var.$neutral50;
        background-color: var.$secondary600;
      }
    }
  }
}
