// IMPORTS

@use '../../../styles/variables.module' as var;
@use '../../../styles/typography.module' as ty;

// COMPONENT STYLES
.Operator__heading--subtitle,
.Operator__row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: baseline;
}

.Operator__heading {
  padding-bottom: var.$spc-sm;

  h2 {
    padding: var.$spc-sm 0;
  }
  
  input,
  h2 {
    font-weight: var.$font-weight-bold;
    font-size: var.$font-size-lg;
    margin-bottom: var.$spc-sm;
  }

  input {
    width: 90%;
    border: 1px solid var.$neutral200;
    border-radius: var.$spc-sm;
    padding: var.$spc-sm;

    &:focus {
      outline: none;
      border-color: var.$secondary500;
    }
  }

  &--row {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.Tabs {
  display: flex;
  gap: var.$spc-xs;

  li {
    font-size: var.$font-size-sm;
    line-height: var.$line-height-normal;
    background-color: var.$neutral50;
    padding: var.$spc-xs var.$spc-md;
    border: 1px solid var.$neutral200;
    border-bottom: none;
    border-radius: var.$spc-xs var.$spc-xs 0 0;
    cursor: pointer;

    transition: all 0.2s var.$bezier-productiveEaseOut;

    &:hover {
      background-color: var.$secondary50;
      color: var.$secondary500;
    }
  }

  .Tab--active {
    font-weight: var.$font-weight-bold;
    color: var.$neutral50;
    background-color: var.$secondary500;
    border-color: 1px solid var.$secondary500;

    &:hover {
      background-color: var.$secondary500;
      color: var.$secondary50;
    }
  }
}

.Operator__block {
  padding: var.$spc-lg var.$spc_md;
  border-top: 1px solid var.$secondary500;
}

.Operator__row {
  padding-bottom: var.$spc-lg;

  .Operator__cell {
    span {
      display: block;
      color: var.$secondary500;
      font-size: var.$font-size-sm;
      font-weight: var.$font-weight-bold;
    }

    p,
    input {
      font-size: var.$font-size-body;
      line-height: var.$line-height-tight;
    }

    p {
      padding-top: var.$spc-xs;
      border: 1px solid transparent;
    }

    input {
      background-color: var.$neutral50;
      padding: var.$spc-sm;
      width: 75%;
      border: 1px solid var.$neutral200;
      border-radius: var.$spc-sm;

      &:focus {
        outline: none;
        border-color: var.$secondary500;
      }
    }
  }
}

.ModalActions {
  position: absolute;
  bottom: var.$spc-md;
  right: var.$spc-lg;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: var.$spc-md;
  margin-top: var.$spc-sm;
}
