// IMPORTS

@use '../../styles/variables.module' as var;
@use '../../styles/typography.module' as ty;

// COMPONENT STYLES

.Table {
  background-color: var.$neutral50;
  padding: var.$spc-sm;
  margin: 0 var.$spc-md var.$spc-4xl;
  border-radius: var.$spc-sm;

  &__heading,
  &__row {
    display: grid;
    align-items: baseline;
  }

  &__row {
    padding: var.$spc-lg var.$spc-md;
    border-radius: var.$spc-sm;
    border: 1px solid transparent;
    cursor: pointer;

    transition: all 0.2s var.$bezier-productiveEaseOut;

    &:nth-child(odd) {
      background-color: var.$neutral65;
    }

    &:hover {
      color: var.$secondary500;
      border: 1px solid var.$secondary300;
      background-color: var.$secondary50;
    }
  }

  &__heading {
    padding: var.$spc-md;
    border-radius: var.$spc-sm var.$spc-sm 0 0;
    background-color: var.$secondary500;
    font-size: var.$font-size-sm;
    color: var.$neutral50;
    letter-spacing: .024rem;
  }
}
