// IMPORTS

@use'../../styles/typography.module' as typography;
@use'../../styles/variables.module' as var;

// STYLES

.Container {
  padding: 2rem 4rem;
  overflow-x: clip;
}

.Title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-optical-sizing: auto;

  color: var.$primary500;
}

.Paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: .6rem;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}
