// IMPORTS

@use '../../styles/variables.module' as var;
@use '../../styles/typography.module' as ty;

// COMPONENT STYLES

.Table__cell {

  &--phones,
  &--date,
  &--subject,
  &--duration,
  &--direction,
  &--status,
  &--billable {
    font-size: var.$font-size-sm;
  }

  &--subject,
  &--status {
    font-weight: var.$font-weight-bold;
  }

  &--direction {
    color: var.$error500;

    &Outbound {
      color: var.$success500;
    }
  }
  
  &--billable {
    color: var.$error500;

    &Active {
      color: var.$success500;
    }
  }
}
